li{
    display: none;
}
button{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 45vw;
    border-color: salmon;
   outline: none;
    background-color: brown;
    color: white;
    font-weight: 700;
}